    $color-text-primary: #000;
    $color-text-secondary: #485656;
    $color-text-tertiary: #627070;
    $background-color-primary: #f5f5f5;
    $background-color-secondary: #fff;
    $background-color-tertiary: #edf3f3;
    $border-color-primary: #eaeaea;
    $border-color-secondary: #b8c9c9;
    $color-item: #b8c9c9;
    $color-brand: #1d706d;
    $color-error: #d91919;
    $primary-button-color: #fff;
    $secondary-button-color: #1d706d;
    $primary-button-focus-color: #313d3d;
    $secondary-button-focus-color: #1d706d;
    $telegram-color: #25a3e1;
    $background-post-status-publish: #edf8ec;
    $background-post-status-trash: #ffe4e4;
    $background-post-status-draft: #f5f5f5;
    $background-post-status-pending: #e2f8f8;
    $background-post-status-future: #e9e1ff;
    $background-post-status-archive: #f5f5f5;
    $background-color-preloader-dots: 98,112,112;




    $font-size-h1: 36px;
    $font-weight-h1: 600;
    $line-height-h1: 42px;
    $letter-spacing-h1: normal;
    $font-size-h2: 26px;
    $font-weight-h2: 600;
    $line-height-h2: 36px;
    $letter-spacing-h2: normal;
    $font-size-h3: 23px;
    $font-weight-h3: 600;
    $line-height-h3: 30px;
    $letter-spacing-h3: normal;
    $font-size-h4: 20px;
    $font-weight-h4: 600;
    $line-height-h4: 26px;
    $letter-spacing-h4: normal;
    $font-weight-bold: 600;
    $font-weight-medium: 500;
    $font-weight-regular: 400;
    $font-size-text-primary: 18px;
    $line-height-text-primary: 28px;
    $letter-spacing-text-primary: normal;
    $font-size-text-secondary: 18px;
    $line-height-text-secondary: 24px;
    $letter-spacing-text-secondary: normal;
    $font-size-text-tertiary: 14px;
    $line-height-text-tertiary: 20px;
    $letter-spacing-text-tertiary: normal;
    $font-size-text-quaternary: 12px;
    $line-height-text-quaternary: 18px;
    $letter-spacing-text-quaternary: normal;



    $logo-font-size: 28px;
    $logo-line-height: 32px;
    $logo-icon-width: 38px;
    $logo-icon-height: 40px;